Repository waghD/pr_service_engineering, pull requests merged in 2021-12, with the labels that each got.

#47 Bug Fix: Made initial fields non-editable
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.scss
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  libs/models/sudoku-field.entity.ts
Labels: bug, frontend

#48 Classic game finalization
  angular.json
  apps/sudoku-frontend/src/app/app.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.scss
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
  apps/sudoku-frontend/src/app/pages/login/login.component.html
  apps/sudoku-frontend/src/app/pages/login/login.component.scss
  apps/sudoku-frontend/src/assets/adobe/pause_button.ai
  apps/sudoku-frontend/src/assets/adobe/play_button.ai
  apps/sudoku-frontend/src/assets/img/download-icon.png
  apps/sudoku-frontend/src/assets/img/pause_button.png
  apps/sudoku-frontend/src/assets/img/play_button.png
  apps/sudoku-frontend/src/assets/svg/Icon-set-actions.svg
  apps/sudoku-frontend/src/assets/svg/icon-download.svg
  apps/sudoku-frontend/src/assets/svg/mono-tab-duplicate.svg
  apps/sudoku-frontend/src/colors.scss
  apps/sudoku-frontend/src/index.html
  apps/sudoku-frontend/src/styles.scss
  libs/models/sudoku.entity.ts
  package-lock.json
  package.json
Labels: frontend, feature

#49 added diagonal sudoku
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.entity.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
Labels: backend, feature

#51 error fixed
  apps/sudoku-backend/src/app/sudoku/controller/sudoku-field.controller.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
Labels: bug, backend

#52 Add user functionality
  apps/sudoku-backend/src/app/app.module.ts
  apps/sudoku-backend/src/app/auth/auth.module.ts
  apps/sudoku-backend/src/app/auth/controller/auth.controller.spec.ts
  apps/sudoku-backend/src/app/auth/controller/auth.controller.ts
  apps/sudoku-backend/src/app/auth/guards/jwt-auth.guard.ts
  apps/sudoku-backend/src/app/auth/guards/optional-auth.guard.ts
  apps/sudoku-backend/src/app/auth/guards/password-auth.guard.ts
  apps/sudoku-backend/src/app/auth/jwt.strategy.ts
  apps/sudoku-backend/src/app/auth/local.strategy.ts
  apps/sudoku-backend/src/app/auth/models/auth-response.dto.ts
  apps/sudoku-backend/src/app/auth/models/user.dto.ts
  apps/sudoku-backend/src/app/auth/models/user.entity.ts
  apps/sudoku-backend/src/app/auth/public.decorator.ts
  apps/sudoku-backend/src/app/auth/services/auth.service.spec.ts
  apps/sudoku-backend/src/app/auth/services/auth.service.ts
  apps/sudoku-backend/src/app/auth/services/user.service.spec.ts
  apps/sudoku-backend/src/app/auth/services/user.service.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku-field.controller.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.entity.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.spec.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
  apps/sudoku-backend/src/app/sudoku/sudoku.module.ts
  apps/sudoku-backend/src/main.ts
  apps/sudoku-frontend/src/app/app.module.ts
  apps/sudoku-frontend/src/app/guards/auth.guard.spec.ts
  apps/sudoku-frontend/src/app/pages/login/login.component.html
  apps/sudoku-frontend/src/app/pages/login/login.component.scss
  apps/sudoku-frontend/src/app/pages/login/login.component.spec.ts
  apps/sudoku-frontend/src/app/pages/login/login.component.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.spec.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
  apps/sudoku-frontend/src/app/services/auth.interceptor.ts
  libs/models/IAuthDto.ts
  package-lock.json
  package.json
Labels: frontend, backend

#54 initial doc from overleaf
  documentation/PR_SE_Documentationv0.1.pdf
Labels: documentation

#53 added Documentation
  apps/sudoku-backend/src/app/auth/controller/auth.controller.ts
  apps/sudoku-backend/src/app/auth/models/user.dto.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku-field.controller.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
Labels: documentation

#75 Changed API endpoint
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
Labels: frontend

#73 Add sudoku solver
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-solver.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
  libs/models/ISudokuSolverDto.ts
  libs/models/sudoku-field.dto.ts
  libs/models/sudoku.dto.ts
  package-lock.json
Labels: backend

#77 Login banner
  apps/sudoku-frontend/src/app/app.component.html
  apps/sudoku-frontend/src/app/app.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/home/home.component.html
  apps/sudoku-frontend/src/app/pages/login/login.component.html
  apps/sudoku-frontend/src/app/services/auth-state.service.spec.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.html
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.scss
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.ts
  apps/sudoku-frontend/src/app/shared/shared.module.ts
  apps/sudoku-frontend/src/assets/img/user-icon.png
  apps/sudoku-frontend/src/assets/svg/icon-logout.svg
  apps/sudoku-frontend/src/assets/svg/user-icon.svg
Labels: frontend

#79 hide save button when logged in as guest
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.html
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.service.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
Labels: enhancement, frontend

#84 added missing hover css
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.scss
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.scss
  apps/sudoku-frontend/src/styles.scss
Labels: bug, frontend

#82 changed navigate url when logout
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
Labels: bug, frontend

#80 Add more Unit tests to angular frontend. Fix Unit test errors
  apps/sudoku-frontend/src/app/app.component.spec.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/home/home.component.spec.ts
  apps/sudoku-frontend/src/app/pages/how-to-play/how-to-play.component.spec.ts
  apps/sudoku-frontend/src/app/pages/impress/impress.component.spec.ts
  apps/sudoku-frontend/src/app/pages/page-not-found/page-not-found.component.spec.ts
  apps/sudoku-frontend/src/app/pages/privacy/privacy.component.spec.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.spec.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
  apps/sudoku-frontend/src/app/shared/components/demo/demo.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/footer/footer.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/header/header.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.ts
Labels: frontend, Unit tests
