Repository waghD/pr_service_engineering, pull requests merged in 2021-11, with the labels that each got.

#28 update README.md
  README.md
  apps/sudoku-backend/src/app/sudoku/controller/sudoku-field.controller.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
  apps/sudoku-backend/src/main.ts
  package-lock.json
  package.json
Labels: documentation

#31 Classic game
  apps/sudoku-frontend/src/app/app-routing.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game-routing.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.scss
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
  apps/sudoku-frontend/src/app/pages/home/home-state.service.ts
  apps/sudoku-frontend/src/app/pages/home/home.component.html
  apps/sudoku-frontend/src/app/pages/home/home.component.ts
  apps/sudoku-frontend/src/app/shared/components/header/header.component.html
  apps/sudoku-frontend/src/app/shared/components/header/header.component.scss
  libs/interfaces/demo-interface.ts
  libs/models/demo.model.ts
  libs/models/sudoku-field.dto.ts
  libs/models/sudoku-field.entity.ts
  libs/models/sudoku.dto.ts
  libs/models/sudoku.entity.ts
Labels: frontend

#35 Add sudoku generator + connect Sudoku classic to restApi data
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-generator.ts
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
  apps/sudoku-backend/src/environments/environment.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
Labels: backend

#43 Added functionality for checking 3x3 boxes
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
Labels: bug, frontend
