Repository waghD/pr_service_engineering, pull requests merged in 2022-02, with the labels that each got.

#131 Fix unit test duration
  apps/sudoku-backend/jest.config.js
  apps/sudoku-frontend/jest.config.js
Labels: enhancement, frontend, backend

#130 Path aliases for Libs folder
  apps/sudoku-backend/src/app/auth/models/auth-response.dto.ts
  apps/sudoku-backend/src/app/auth/models/user.dto.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-solver.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.service.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.service.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.service.ts
  apps/sudoku-frontend/src/app/pages/home/difficulty-selection/difficulty-selection.component.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.service.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.service.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.service.ts
  libs/models/sudoku-field.dto.ts
  tsconfig.base.json
Labels: enhancement

#136 Add Loading indicator to Sudoku Play pages
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.ts
  apps/sudoku-frontend/src/app/shared/components/loader-dialog/loader-dialog.component.html
  apps/sudoku-frontend/src/app/shared/components/loader-dialog/loader-dialog.component.scss
  apps/sudoku-frontend/src/app/shared/components/loader-dialog/loader-dialog.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/loader-dialog/loader-dialog.component.ts
  apps/sudoku-frontend/src/app/shared/shared.module.ts
  apps/sudoku-frontend/src/environments/environment.prod.ts
  apps/sudoku-frontend/src/environments/environment.ts
  apps/sudoku-frontend/src/styles.scss
  yarn.lock
Labels: enhancement

#138 Center Buttons
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.scss
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.scss
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.scss
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.scss
Labels: enhancement, frontend
