Repository waghD/pr_service_engineering, pull requests merged in 2022-01, with the labels that each got.

#89 Add farbsudoku and farb diagonal sudoku
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.entity.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
  package-lock.json
Labels: backend

#94 Check user on signup
  apps/sudoku-backend/src/app/auth/controller/auth.controller.ts
  apps/sudoku-backend/src/app/auth/local.strategy.ts
  apps/sudoku-backend/src/app/auth/services/auth.service.ts
  apps/sudoku-frontend/src/app/pages/login/login.component.html
  apps/sudoku-frontend/src/app/pages/login/login.component.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
  libs/models/IAuthDto.ts
Labels: frontend, backend

#97 Bug fixing
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.entity.ts
Labels: bug

#98 Solved success message
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.html
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.component.html
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.component.scss
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.component.ts
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.service.ts
  apps/sudoku-frontend/src/app/shared/shared.module.ts
  apps/sudoku-frontend/src/colors.scss
Labels: frontend

#102 Bug fixing frontend collection
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.html
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
Labels: bug, frontend

#106 Load saved sudokus
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
  apps/sudoku-frontend/src/app/app-routing.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.service.ts
  apps/sudoku-frontend/src/app/pages/home/home.component.html
  apps/sudoku-frontend/src/app/pages/home/home.component.spec.ts
  apps/sudoku-frontend/src/app/pages/home/home.component.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games-routing.module.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.html
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.scss
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.spec.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.module.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.service.ts
  apps/sudoku-frontend/src/app/shared/components/delete-dialog/delete-dialog.component.html
  apps/sudoku-frontend/src/app/shared/components/delete-dialog/delete-dialog.component.scss
  apps/sudoku-frontend/src/app/shared/components/delete-dialog/delete-dialog.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/delete-dialog/delete-dialog.component.ts
  apps/sudoku-frontend/src/app/shared/components/generic-info-dialog/generic-info-dialog.component.html
  apps/sudoku-frontend/src/app/shared/components/generic-info-dialog/generic-info-dialog.component.scss
  apps/sudoku-frontend/src/app/shared/components/generic-info-dialog/generic-info-dialog.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/generic-info-dialog/generic-info-dialog.component.ts
  apps/sudoku-frontend/src/app/shared/shared.module.ts
  apps/sudoku-frontend/src/assets/img/simple-triangle.png
  apps/sudoku-frontend/src/assets/img/trash-bin.png
  apps/sudoku-frontend/src/colors.scss
  libs/models/sudoku.dto.ts
Labels: frontend, feature

#107 Color sudoku frontend
  apps/sudoku-frontend/src/app/app-routing.module.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game-routing.module.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.html
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.scss
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.module.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.service.ts
  apps/sudoku-frontend/src/app/pages/home/home.component.html
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.ts
  apps/sudoku-frontend/src/colors.scss
Labels: frontend, feature

#109 Fix colour sudoku and Region Sudoku
  apps/sudoku-backend/src/app/sudoku/controller/sudoku-field.controller.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.spec.ts
  apps/sudoku-backend/src/app/sudoku/controller/sudoku.controller.ts
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-generator.ts
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-field.entity.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku-solver.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.entity.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
Labels: bug, backend

#111 addded banner functionality
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
  apps/sudoku-frontend/src/app/shared/components/header/header.component.html
  apps/sudoku-frontend/src/app/shared/components/header/header.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/header/header.component.ts
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.html
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.ts
Labels: frontend

#115 fixed bug
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
  apps/sudoku-backend/src/app/sudoku/models/sudoku.dto.ts
Labels: bug, backend

#117 bug fixes
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
Labels: bug, backend

#119 added region sudoku frontend
  apps/sudoku-frontend/src/app/app-routing.module.ts
  apps/sudoku-frontend/src/app/pages/home/home.component.html
  apps/sudoku-frontend/src/app/pages/region-game/region-game-routing.module.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.html
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.scss
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.module.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.service.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.ts
Labels: frontend, feature

#124 Bugfixing
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
Labels: bug, backend

#122 Transform alerts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.module.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.module.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.module.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.module.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.spec.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.module.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.ts
  apps/sudoku-frontend/src/app/shared/components/delete-dialog/delete-dialog.component.html
  apps/sudoku-frontend/src/app/shared/components/delete-dialog/delete-dialog.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/delete-dialog/delete-dialog.component.ts
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/finish-sudoku-button/finish-sudoku-button.component.ts
  apps/sudoku-frontend/src/app/shared/components/header/header.component.html
Labels: enhancement, frontend

#128 Fix docker
  Dockerfile.angular
  Dockerfile.nest
  apps/sudoku-backend/src/app/sudoku/helpers/sudoku-solver.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku-field.service.ts
  apps/sudoku-backend/src/app/sudoku/service/sudoku.service.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.service.ts
  apps/sudoku-frontend/src/app/pages/color-game/color-game.service.ts
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.service.ts
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.service.ts
  apps/sudoku-frontend/src/app/pages/home/home-state.service.ts
  apps/sudoku-frontend/src/app/pages/region-game/region-game.service.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.service.ts
  apps/sudoku-frontend/src/app/services/auth-state.service.ts
  docker-compose.yaml
  nginx.conf
  yarn.lock
Labels: bug, enhancement, frontend, backend

#126 Mobile version and Responsive design
  angular.json
  apps/sudoku-frontend/ngsw-config.json
  apps/sudoku-frontend/src/app/app.component.html
  apps/sudoku-frontend/src/app/app.component.scss
  apps/sudoku-frontend/src/app/app.module.ts
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.html
  apps/sudoku-frontend/src/app/pages/classic-game/classic-game.component.scss
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.html
  apps/sudoku-frontend/src/app/pages/color-game/color-game.component.scss
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.html
  apps/sudoku-frontend/src/app/pages/diagonal-color-game/diagonal-color-game.component.scss
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.html
  apps/sudoku-frontend/src/app/pages/diagonal-game/diagonal-game.component.scss
  apps/sudoku-frontend/src/app/pages/home/home.component.html
  apps/sudoku-frontend/src/app/pages/home/home.component.scss
  apps/sudoku-frontend/src/app/pages/how-to-play/how-to-play.component.html
  apps/sudoku-frontend/src/app/pages/how-to-play/how-to-play.component.scss
  apps/sudoku-frontend/src/app/pages/impress/impress.component.html
  apps/sudoku-frontend/src/app/pages/login/login.component.scss
  apps/sudoku-frontend/src/app/pages/page-not-found/page-not-found.component.html
  apps/sudoku-frontend/src/app/pages/privacy/privacy.component.html
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.html
  apps/sudoku-frontend/src/app/pages/region-game/region-game.component.scss
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.html
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.scss
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.spec.ts
  apps/sudoku-frontend/src/app/pages/saved-games/saved-games.component.ts
  apps/sudoku-frontend/src/app/shared/components/footer/footer.component.html
  apps/sudoku-frontend/src/app/shared/components/footer/footer.component.scss
  apps/sudoku-frontend/src/app/shared/components/footer/footer.component.spec.ts
  apps/sudoku-frontend/src/app/shared/components/footer/footer.component.ts
  apps/sudoku-frontend/src/app/shared/components/header/header.component.scss
  apps/sudoku-frontend/src/app/shared/components/login-banner/login-banner.component.scss
  apps/sudoku-frontend/src/assets/icons/icon-128x128.png
  apps/sudoku-frontend/src/assets/icons/icon-144x144.png
  apps/sudoku-frontend/src/assets/icons/icon-152x152.png
  apps/sudoku-frontend/src/assets/icons/icon-192x192.png
  apps/sudoku-frontend/src/assets/icons/icon-384x384.png
  apps/sudoku-frontend/src/assets/icons/icon-512x512.png
  apps/sudoku-frontend/src/assets/icons/icon-72x72.png
  apps/sudoku-frontend/src/assets/icons/icon-96x96.png
  apps/sudoku-frontend/src/index.html
  apps/sudoku-frontend/src/manifest.webmanifest
  apps/sudoku-frontend/src/styles.scss
  package-lock.json
  package.json
  yarn.lock
Labels: frontend, feature
